/* class */

/* https://stackoverflow.com/questions/77114751/is-it-possible-to-modify-the-arrow-that-collapses-the-sidebar */
.bslib-sidebar-layout > .collapse-toggle > .collapse-icon {
  fill: #989898 !important;
}

.control-label {
  color: var(--bs-body-color); 
  font-weight: bold;
}

.datepicker {
  background-color: #F8F8F8; 
  color: var(--bs-body-color);
}

.datepicker table tr td.active.day { /* current month and selected day, no hover */
  background-color: rgb(0, 0, 0, 0.1);
  border-color: none;
  color: var(--bs-body-color);
  text-shadow: none;
}

.datepicker table tr td.active.day:hover { /*  current month and selected day, hover */
  background-color: rgb(0, 0, 0, 0.1);
  border-color: none;
  color: var(--bs-body-color);
  text-shadow: none;
}

.datepicker table tr td.day:hover { /*  unselected month and day, no hover */
  background-color: rgb(0, 0, 0, 0.1);
}

.datepicker table tr td.disabled.day:hover { /*  unselected month and day, no hover */
  background-color: #F8F8F8;
}

.table-condensed {
  background-color: #F8F8F8; 
  color: var(--bs-body-color);
}






.figure-footer-help-text {
  color: #989898; font-style: italic;
}

.figure-subtext {
  color: #989898;
}

/* .figure-subtitle {
  color: #001C48; font-weight: plain; margin-top: 0;
} */

.figure-title {
  color: #3b3b3b !important; font-weight: normal !important; margin-bottom: 0.3em !important; margin-top: 0;
}

.help-block {
  color: #989898 !important; font-size: 1rem;
}

.selectize-dropdown .active {
  background-color: rgb(0, 0, 0, 0.1); color: var(--bs-body-color);
}

.selectize-dropdown .active:not(.selected) {
  background-color: rgb(0, 0, 0, 0.1); color: var(--bs-body-color);
}

.selectize-dropdown .selected:not(.active) {
  background-color: var(--bs-body-bg); color: var(--bs-body-color);
}

.selectize-input {
  border-color: #CCCCCC !important;
}

.selectize-input.items.full.has-options.has-items {
  border-radius: 0px;
}

.shiny-output-error-datepicker {
  background-color: #007D84; border: 1px solid rgba(0,0,0,.125); border-radius: 0px; color: #FFFFFF !important; font-weight: bold; font-style: italic; padding: 20px;
}

.shiny-notification {
  background-color: rgba(129,211,235,0.9) !important; border: none !important; box-shadow: 1px 2px rgba(0,0,0,0.1) !important; color: #1E5288 !important; font-style: italic !important; position: fixed !important; top: calc(50%) !important; left: calc(50% - 100px) !important;
}

/* id */

#calculateChillAccumulation {
  background-color: transparent; border-color: #001C48; color: #001C48;
}

#calculateChillAccumulation:active {
  background-color: #001C48; color: #fff;
}

#calculateChillAccumulation:hover {
  background-color: #001C48; color: #fff;
}

#sidebarPanel {
  background-color: #E2E9EB !important; margin-bottom: 72px;
}
